<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>isolate Layout</title>
    <link rel="stylesheet" href="../css/isolate-layout.css">
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <div class="col col-12">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-11 col-offset-1">
                컬럼
            </div>
            <div class="col col-1">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-4 col-offset-8">
                컬럼 1
            </div>
            <div class="col col-4">
                컬럼 2
            </div>
            
        </div>
        <div class="row">
            <div class="col col-9">
                컬럼
            </div>
            <div class="col col-3 col-offset-9">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-8">
                컬럼
            </div>
            <div class="col col-4 col-offset-8">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-7">
                컬럼
            </div>
            <div class="col col-5 col-offset-7">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-6">
                컬럼
            </div>
            <div class="col col-6 col-offset-6">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-5">
                컬럼
            </div>
            <div class="col col-7 col-offset-5">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-4">
                컬럼
            </div>
            <div class="col col-8 col-offset-4">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-3">
                컬럼
            </div>
            <div class="col col-9 col-offset-3">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-2">
                컬럼
            </div>
            <div class="col col-10 col-offset-2">
                컬럼
            </div>
        </div>
        <div class="row">
            <div class="col col-1">
                컬럼
            </div>
            <div class="col col-11 col-offset-1">
                컬럼
            </div>
        </div>
    </div>
</body>
</html>